body {
	background-color: white;
}

h1 {
  text-align: center;
  margin-bottom: 320px;
  margin-top: 30px;
  font-family: 'Lora', serif;
  letter-spacing: 2px;
  color: black;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-family: 'Lora', serif;
  letter-spacing: 2px;
  color: black;
}

.list-group-item {
  font-size: 14px;
}

#topdiv {
  background-image: url("99590010.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#new-tiny-post {
  margin-bottom: 40px;
}

.list-group-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}